<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form>
            <table align="center">
                    <tr>
                            <td><label>Enter Email/Mobile No </label></td>
                            <td><input type="text" name="loginId" value="" required autofocus></td>
                    </tr>   
                    <tr>
                            <td><label>Enter Password:</label></td>
                            <td><input type="password" name="password" value="" required></td>
                    </tr> 
                    <tr>    
                        <td align="right"><input class="one"type="submit" value="Login" name="submit" ></td>
                    </tr>
                    <tr>
                        <td align="right"><a href="forgetpassword">Forgot Password?</a></td>
                    </tr>
                </table>
</form>
</body>
</html>